@model Sintronico.Models.DetallePresupuesto

@{
    ViewData["Title"] = "Create";
    var IdPresupuesto = (Int32) ViewBag.IdPresupuesto;
}

<h1>Create</h1>

<h4>DetallePresupuesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRepuesto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRepuesto" class="control-label"></label>
                <select name="IdRepuesto" class="form-control">
                    @foreach (var item in (List<Repuestos>) ViewBag.Repuestos)
                    {
                        <option value="@item.IdRepuesto"> @(item.Nombre) </option>
                    }
                </select>
                <span asp-validation-for="IdRepuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input type="number" name="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" name="IdPresupuesto" value=@IdPresupuesto >
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
